// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$backgroundCard: #1D1F23;
$backgroundSearch: #16181C;
$backgroundColorDark: #000;

$borderGray: #d0cccc86;

$blue: #078BC4;
$white: #fff;
$black: #000;
$gray: #b6b4b4;

//hover
$backgroundButtonHover: #067bad;
$backgroundSidebarHover: #ffffff18;
$backgroundLogoHover: #008cff3b;
$backgroundNewsHover: #ffffff10;

//Colors Fonts
$FontColorDark: #fff;

// Fonts
$fontFamily: 'Roboto', sans-serif;